.headerWrapper {
  display: flex;
  width: 1320px;
  margin: 0 auto;
  background: rgba(155, 155, 155, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 100px;
}

.cardsWrapper {
  display: flex;
  width: 1320px;
  margin: 0 auto;
  justify-content: center;
}

.errorBtn {
  width: 130px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.errorBtn:hover {
  background-color: deepskyblue;
}

.commonWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(155, 155, 155, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
