.input {
  margin: 20px 0;
  padding: 10px 5px;
  width: 250px;
  font-size: 20px;
  border-radius: 5px;
}

.searchBtn {
  width: 140px;
  height: 45px;
  cursor: pointer;
  color: black;
  background-color: #bc13fe;
  outline: none;
  border: none;
  font-size: 20px;
}

.searchBtn:hover {
  background-color: #04d9ff;
}
