.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 20px;
  width: 450px;
  justify-content: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.cardImage {
  width: 450px;
  height: 450px;
}

.cardTitle {
  padding-bottom: 15px;
  font-size: 25px;
  color: black;
  display: flex;
  justify-content: center;
}

.cardDescription {
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.fetchInfo {
  font-weight: 200;
}

.cardsCommonBox {
  display: flex;
  flex-wrap: wrap;
}

.cardInfo {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.heartContainer {
  --heart-color: yellow;
  position: relative;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  padding-top: 5px;
}

.heartContainer .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heartContainer .svgContainer {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heartContainer .svgOutline,
.heartContainer .svgFilled {
  fill: var(--heart-color);
  position: absolute;
}

.heartContainer .svgFilled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heartContainer .svgCelebrate {
  position: absolute;
  animation: keyframes-svg-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heartContainer .checkbox:checked ~ .svgContainer .svgFilled {
  display: block;
}

.heartContainer .checkbox:checked ~ .svgContainer .svgCelebrate {
  display: block;
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
