.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header {
  width: 100%;
  padding: 15px 0;
}
