.wrapperDark {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.wrapperLight {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/bg-light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header {
  width: 100%;
  padding: 15px 0;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  font-size: 16px;
}

.darkBtn {
  background-color: black;
  color: aliceblue;
}
.lightBtn {
  background-color: aliceblue;
  color: black;
}
