#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

main {
  flex: 1 0 auto;
  background: #ece5d5;
  width: 100vw;
  margin: auto;
}
